@import 'notification.css';

.more-beatmap-info {
    font-size: 14px;
    white-space: nowrap;
    height: 15px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.retry-get-info-btn {
    pointer-events: auto;
    z-index: 10;
    background: linear-gradient(180deg, rgba(124, 53, 253, 0.6), rgba(144, 57, 244, 0.6), rgba(163, 35, 238, 0.6));
    font-size: 15px;
    color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    margin-left: 3px;
}

.beatmap-pp-data {
    display: none;
}

.pp-block {
    position: relative;
    z-index: 100;
    pointer-events: auto;
}

.pp {
    white-space: nowrap;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.beatmap-pp {
    display: none;
    position: relative;
    top: 2px;
    left: 3px;
    font-size: 13px;
}

.beatmap-pp-btn {
    z-index: 100;
    pointer-events: auto;
    white-space: nowrap;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin-bottom: 3px;
}

.beatmap-pp-btn:hover {
    background-color: rgb(110, 103, 103);
    border-color: rgba(255, 255, 255, 0.6);
}

.more-diff-info-btn {
    background: linear-gradient(180deg, rgba(124, 53, 253, 0.8), rgba(144, 57, 244, 0.8), rgba(163, 35, 238, 0.8));
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 100px;
    width: 23px;
    height: 23px;
}

.more-diff-info-btn:hover {
    background: linear-gradient(180deg, rgba(105, 23, 255, 0.8), rgba(131, 28, 250, 0.8), rgba(148, 6, 231, 0.8));
}

.deep-beatmap-params-tooltip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
    padding: 10px 15px;
    white-space: nowrap;
    z-index: 5000;
    background: linear-gradient(180deg, #7c35fd, #9039f4, #a323ee);
    border-radius: 12px;
    border: 2px solid #ffffff; /* Белая рамка */
    color: #ffffff; /* Белый текст */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.change-diff-info-button {
    border: 1px rgba(215, 214, 214, 0.8) solid;
    border-bottom: none;
    border-radius: 10px;
    margin-left: auto;
    height: 23px;
    font-size: 13px;
    background: linear-gradient(180deg, #7c35fd, #9039f4, #8c23ee);
}

.change-diff-info-button:hover {
    position: relative;
    bottom: 2px;
    background: linear-gradient(180deg, #9e4bff, #a64ffc, #b44aff); /* яркие цвета */}

.change-diff-info-button:active {
    bottom: 0;
    background: linear-gradient(180deg, #7c35fd, #9039f4, #a323ee);
}

/* Edit peppy`s styles */
.beatmap-list-item {
    display: flex !important;
    justify-content: start;
}

.beatmaps-popup-item {
    width: 100% !important;
}

.beatmapset-badge--featured_artist {
    position: relative;
    top: 6px;
}

.beatmapset-panel__info-row--title {
    height: 23px !important;
}

.beatmapset-panel {
    height: 115px !important;
}

.beatmaps-popup::before {
    --panel-height: 115px;
}
