.last-diff-info {
    font-size: 14px;
    white-space: nowrap;
}

.beatmapset-panel {
    height: 115px !important;
}

.beatmaps-popup::before {
    --panel-height: 115px;
}

.last-diff-info {
    height: 15px;
    margin-bottom: 6px;
}
