.last-diff-info {
    font-size: 14px;
    white-space: nowrap;
}

.beatmapset-panel {
    height: 115px !important;
}

.beatmaps-popup::before {
    --panel-height: 115px;
}

.last-diff-info {
    height: 15px;
    margin-bottom: 6px;
}

.more-diff-info-btn {
    background: gray;
    border-radius: 100%;
    border: none;
    height: 20px;
}

.deep-map-params-tooltip {
    position: absolute;
    padding: 5px;
    white-space: nowrap;
    z-index: 5000;
    background: gray;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change-diff-info-button {
    background: #711fff;
    border: 0;
    border-radius: 10px;
    margin-left: auto;
}

.beatmap-list-item {
    display: flex !important;
    justify-content: start;
}

.beatmaps-popup-item {
    width: 100% !important;
}
