@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(
        180deg,
        rgba(99, 42, 202, 1),
        rgba(115, 45, 195, 1),
        rgba(130, 28, 190, 1)
    );
    background-size: cover;
}

h2 {
    margin-bottom: 12px;
}

.accordion {
    width: 300px;
}

.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    transition: background 0.3s;
    position: relative;
}

.accordion label::after {
    content: "▸";
    font-size: 1.2em;
    margin-left: 4px;
    transition: transform 0.3s ease;
}

.accordion input:checked + label::after {
    transform: rotate(90deg);
}

.content {
    position: relative;
    margin-top: 4px;
    padding: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    transition: max-height 0.5s ease, padding 0.5s;
    height: 207px;
}

.accordion input:checked ~ .content {
    max-height: 200px;
}

.video-link-title {
    color: #89bbfa;
    font-size: 18px;
    margin-right: auto;
}

iframe {
    width: 2144px;
    height: 1206px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 32px;
    left: 0;
    transform: scale(0.144);
    transform-origin: top left;
}

.issue-report {
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.issue-report-link {
    color: #89bbfa;
    margin-left: 4px;
}
